ENVIRONMENT=staging
TEMP_DIR=
BLUESKY_HANDLE=
BLUESKY_PASSWORD=
ACCESS_JWT=
REFRESH_JWT=
PDSHOST=
LOG_LEVEL=
PUBLIC_BLUESKY_APP_VIEW_API_HOST=public.api.bsky.app
LIST_AT_URI=
DATABASE_HOST=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USERNAME=
# Staging database, isolated from the production one. Created by
# var/migrations/2026-05-25-staging-create-db.sql.
DATABASE_DB_NAME=org_revue_de_presse_staging
PG_BACKEND=wire
