POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=revue_de_presse_test
POSTGRES_PORT=55432

DATABASE_HOST=127.0.0.1
DATABASE_PORT=55432
DATABASE_DB_NAME=revue_de_presse_test
DATABASE_USERNAME=test
DATABASE_PASSWORD=test
# PG_BACKEND: "wire" (default, unset) or "psql" (shell-out fall-back).
# PG_BACKEND=wire
